[data-md-color-scheme="default"] .md-content figure figcaption {
    color: #888;
}

[data-md-color-scheme="slate"] .md-content figure figcaption {
    color: #CCC;
}

.md-content figure figcaption {
	margin-top: 4px;
	font: italic;
}

.md-content figure p {
	margin: 0;
	padding: 0;
}

.align-right {
	float: right;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}